Source: baidupcs
Section: net
Priority: optional
Maintainer: Boyuan Yang <073plan@gmail.com>
Build-Depends:
 debhelper (>= 9),
 libssl-dev,
 libcurl4-openssl-dev,
Standards-Version: 3.9.8
Homepage: https://github.com/GangZhuo/BaiduPCS

Package: baidupcs
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: Command-line Baidu cloud disk utility
 A command line tool to manipulate Baidu Cloud Disk files (pan.baidu.com).
